<!DOCTYPE html>

<html>
    <head>
        <title>Graphing a time series</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div class="container">
            <h1>Graphing Stocks with Chartist</h1>
            <div class="data-area">
                <div class="control">
                    
                    <h3>Time Frame in Years</h3>
                    <div class="control-date">
                        <input class="underlined-input" type="number" value="2013" min="2013" max="2018">
                        <p>to</p>
                        <input class="underlined-input" type="number" value="2013" min="2013" max="2018">
                    </div>
                    <div class="control-button">
                        <input type="button" onclick="updateChart()" value="Update chart">
                    </div>
                    <h3>Selected stocks</h3>
                    <div class="control-column">
                        <ul>
                            {% for stock in stocks %}
                                {% if loop.index == 1 %}
                                    <!-- Check first stock at default -->
                                    <li class="control-column-item checked">
                                        {{ stock.name }}
                                        <input type="color" value="{{ stock.hex_color }}"/>
                                    </li>
                                    
                                {% else %}
                                    <li class="control-column-item">
                                        {{ stock.name }}
                                        <input type="color" value="{{ stock.hex_color }}"/>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="chart">
                    <div class="ct-chart ct-perfect-fourth"></div>
                </div>

            </div>
        </div>
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>

